html, body{
    margin: 0;
    padding: 0;
}

.jumbotron{
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px white;
    color: black;
    margin-top: -15px;
    background-color: rgba(125, 154, 193, 0.9) !important;
    text-align: center;
}

.navbar{
    background-color: rgba(161,187,213,0.4);
    margin-bottom: 20px;
}

.navbar nav{
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100;
    z-index: 100;
    margin: 0; 
}

.navbar .navbar-brand{
    margin-top: auto;
    font-size: 200%;
    padding-right: 40px;
    text-align: left;
}

.nav-item{
    font-size: 150%;
    padding-right: 25px;
    text-align: left;
}

#title{
    margin-top: -50px;
    text-align: center;
    text-shadow: 2px 2px black;
    color: white;
    font-size: 350%;
    
}

.nav{
    background-color: rgba(161,187,213,0.4);
}

.tab-content{
    background-color: rgba(161,187,213,0.4);
}

.card{
    margin-left: 15px;
    margin-right: 15px;
}

.pic{
    width: 100%;
}

.bullet_list{
    margin-left: 35%;
    text-align: left;
}

.vertical-center{
  min-height: 100%; 
  display: flex;
  align-items: center;
}