html, body{
    padding: 0;
}

.launch_page{
    font-family:'Raleway', sans-serif;
    text-shadow: 1px 1px white;
    color: black;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

@media (min-width: 375px) {
    .launch_page {
        height: 100vh;
    }
}

.navbar{
    background-color: rgba(161,187,213,0.4);
    margin-bottom: 20px;
}

.navbar nav{
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100;
    z-index: 100;
    margin: 0; 
}

.navbar .navbar-brand{
    margin-top: auto;
    font-size: 200%;
    text-align: right;
}

.nav-item{
    font-size: 150%;
    margin-left: 25px;
    text-align: right;
}


.jumbotron{
    margin-top: -15px;
    background-image: url(../images/coffee_laptop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: left;
    height: 100vh;
}

#introduction_label{
    text-align: left;
    font-size: 350%;
    text-shadow: 2px 2px white;
    color: black;
    background: rgba(234, 236, 238, 0.75);
    width: 45%;
}

#introduction_description_label{
    text-align: left;
    font-size: 150%;
    text-shadow: 1px 1px white;
    color: black;
    background: rgba(234, 236, 238, 0.75);
    width: 45%;
}

.btn_text{
    text-shadow: 1px 1px black;
}




