html, body{
    padding: 0;
    overflow: hidden;
}

.launch_page{
    font-family:'Raleway', sans-serif;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 100%;
}

@media (min-width: 375px) {
    .launch_page {
        height: 100vh;
    }
}

.navbar{
	margin-top: 0px;
	background-image: linear-gradient(to right, rgb(84,64,57),  rgb(59,51,56));
    margin-bottom: 10px;
}

.navbar nav{
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100;
    z-index: 100;
    margin: 0; 
}

.navbar .navbar-brand{
    margin-top: auto;
    font-size: 150%;
	text-shadow: 1px 1px black;
    text-align: right;
}

.navbar .nav-link{
	text-shadow: 1px 1px black;
	font-size: 125%;
    margin-left: 25px;
    text-align: right;
}

.jumbotron{
    margin-top: -15px;
    text-align: left;
    position: fixed;
    background: 
      linear-gradient(
        rgba(0,0,0,0),
        rgba(216,182,137,0.2)
      ), url(../images/landing_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white !important;
    width: 100%;
    height: 100vh;
}

.intro{
    position: absolute;
    bottom: 15%;
    right: 15%;
}

@media only screen and (max-width: 767px) {
  .intro{
  	  bottom: 10%;
      right: 5%;
  }
}

#name_label{
	border-bottom: 2px solid currentColor;
    text-align: left;
    font-size: 350%;
    text-shadow: 3px 3px white;
	color: rgb(59,51,56);
    width: 100%;
}

@media only screen and (max-width: 767px) {
  #name_label{
  	  font-size: 225%;
  }
}

#intro_text{
    text-align: left;
    font-size: 175%;
    text-shadow: 2px 2px white;
    color: rgb(59,51,56);
    width: 100%;
}

@media only screen and (max-width: 767px) {
  #intro_text{
  	  font-size: 125%;
  }
}