html, body{
    margin-left: -20px;
    margin-right: -20px;
    padding: 0;
}

.container-fluid {

    width: 100%;
}

.jumbotron-fluid{
    margin-top: -30px;
    
    background-color: rgba(0,0,0,0)!important;
    height: 10%;
}

.launch_page{
    font-family: 'Acme', sans-serif;
    text-shadow: 1px 1px white;
    color: black;
    height: 140vh;
    text-align: center;
    background-attachment: fixed;
}



.paragraph {
    margin-top: 100px;
    width: 50%;
    margin: 0 auto;
    padding-top: 5vh;
}

#home{
    padding-top: 20px;
	/*background-color: #acdff7; 
    /*background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");*/
    background-color: #5e7a8c;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

    #welcome_label{
        margin-top: -20px;
        text-shadow: 4px 4px black;
        color: white;
        font-size: 75px;
        font-size: 4em;
    }

    #portrait_reel{
        margin: auto;
        width: auto;
    }
   /* 
    #photo_one{
        float: left;
        padding-left: 20px;
        padding-right: 20px;
    }

    #photo_two{
        float: right;
        padding-left: 20px;
        padding-right: 20px;
    }*/

    .portrait{
        padding-top: 0 px;
        /*height: 425px;
        width: 600px;
        border-radius: 5px;*/
        max-width: 100%;
        height: auto;
        width: auto\9;
        
    }

    #introduction_label{
        font-size: 30pt;
        text-shadow: 2px 2px black;
        color: white;
    }

    #introduction_description_label{
        font-size: 25pt;
        text-align: center;
        color: white;
        text-shadow: 2px 2px black;
    }

#education{
    padding-top: 20px;
    background-image: url(../images/arboretum.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

    #education_label{
        font-size: 60pt;
        color: white;
        text-shadow: 3px 3px black;
    }

    a education_label: hover{
        background-color: yellow;
    }

    #education_description_label{
        padding-top: 400px; 
        font-size: 25pt;
        color: white;
        text-shadow: 2px 2px black;
        text-align: left;
    }

#hobbies{
    padding-top: 20px;
    background-color: #ffff87;
    background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
}

    #hobbies_label{
        font-size: 60pt;
        color: black;
        text-shadow: 3px 3px white;
    }

    a:hover{
        background-color: lightyellow;
    }

    #hobby_photos{
        text-align: center;
    }

    #golf{
        margin: auto;
        float: left;
        height: 300px;
        padding-left: 40px;
        padding-right: 20px;
    }

    #ocean{
        margin: auto;
        float: left;
        height: 300px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #piano{
        margin: auto;
        float: left;
        height: 300px;
        padding-left: 20px;
        padding-right: 40px;
    }

    .hobbies_description_label{
        text-align: left;
        font-size: 25pt;
        text-align: left;
    }

#contact{
    padding-top: 20px;
    /*background-color: #f280ce;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");*/
    background-image: url(../images/pebbles.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
    
    #contact_label{
        font-size: 60pt;
        text-shadow: 3px 3px white;
    }

    .contact_description_label{
        font-size: 25pt;
    }

    #contact_images{
        text-align: center;
    }

    #linked_in{
        margin: auto;
        float: left;
        padding-right: 20px;
    }

    #facebook{
        margin: auto;
        float: left;
        padding-right: 20px;
    }

    #instagram{
        margin: auto;
        float: left;
    }


